@import "import/reset";
@import "import/fonts";
@import "import/var";

/*======================
|		STYLE MAP      |
========================

1. HEADER
	&__logoWrap
	&__herro
2. MAIN
	userInfo
	useInstructions
3. FOOTER


======================*/



/*1. HEADER*/
/*==================================================*/


.header{
	flex
	&__logoWrap{
		margin: auto;
		box-sizing: border-box;
		width: 100%;
	}	
	&__logo{
		padding: 10px 0 7px 0;
		margin: auto;
		display: block;
	}
}

.herro{
	// background: #ff8920;
	padding: 20px 0;
	width: 100%;
	box-sizing: border-box;
	background: radial-gradient(#ffd20d, #ff8920 80%);
	&__wrap{
		height: 100%;
		border-radius: 7px;
		box-sizing: border-box;
		border: 1px solid #cc8f0e;
		box-shadow: 0 0 3px #cc8f0e;
		height: 100%;
		max-height: 466px;
		position: relative;
		z-index: 1;
		&:before{
			content: '';
			display: block;
			position: absolute;
			bottom: -4px;
			left: 0px;
			z-index: 100;
			border-bottom: 20px solid #cc7717; 
    		border-right: 500px solid transparent;
    		border-left: 10px solid transparent;
    		transform: rotate(-2deg);
    		z-index: 0;
    		opacity: .4;
		}
		&:after{
			content: '';
			display: block;
			position: absolute;
			bottom: -4px;
			right: 0px;
			z-index: 100;
			border-bottom: 20px solid #cc7717; 
    		border-left: 500px solid transparent;
    		border-right: 10px solid transparent;
    		transform: rotate(2deg);
    		z-index: 0;
    		opacity: .4;
		}
	}
	&__slider{
		flex-basis: 50%;
		box-sizing: border-box;
		max-height: 466px;
		overflow: hidden;
		z-index: 1;
	}
	&__form{
		flex-basis: 50%;
		box-sizing: border-box;
		background: #f8f8f8;
		padding: 0px 40px 0px 23px;
		text-align: left;
		flex-direction: column;
		max-height: 466px;
		z-index: 1;
	}
}

.slider{
	border-radius: 5px 0 0 5px;
	img{
		width: 100%;
		height: auto;
	}
	.owl-wrapper-outer{
		position: relative;
	}
	.owl-controls{
		position: absolute;
		bottom: 3%;
		left: 0;
		display: block;
		width: 100%;
		text-align: center;
	}
	.owl-page{
		display: inline-block;
		margin: 5px;
		z-index: 10;
		bottom: 5%;
		span{
			display: block;
			width: 10px;
			height: 10px;
			background-color: rgba(0,0,0,.5);
			border-radius: 50%;
			border: 1px solid rgba(0,0,0,.5);
		}
	}
	.active{
		span{
			background-color: $accent;
		}
	}
}


.form{
	border-left: 1px solid #dcdcdc; 
	border-radius: 0 5px 5px 0;
	justify-content: flex-start;
	box-sizing: border-box;
	.flex{
		flex-wrap: wrap;
		justify-content: space-between;
		max-height: 466px;
	}
	&__header{
		display: inline-block;
		background: linear-gradient(180deg, #fff 0%,#ff800c 70%);
		background-clip: text;
		color: transparent;
		font-size: 44px;
		margin: 20px 0 16px 0;
	}
	&__form{
		display: block;
	}
	&__divWrap.flex{
		padding: 7px 0;
		position: relative;
		align-items: center;
		&:first-child{
			z-index: 4;
		}
		&:nth-child(2){
			z-index: 3;
		}
		&:nth-child(3){
			z-index: 2;
		}
		&:nth-child(4){
			z-index: 1;
		}
	}
	&__label{
		width: 100px;
		font-size: 18px;
		color: #666;
		&_search{
			@extend .form__label;
			line-height: 35px;
			&:before{
				content:'\f002';
				font-family: 'fontAwesome';
				font-size: 14px;
				margin: 0 5px 0 0;
				display: inline-block;
				transform: rotate(90deg);
			}
		}
	}
	&__forIAm{
		align-items: center;
	}
	&__forIAmWrap{
		width: calc(100% - 100px);
		align-items: center;
	}
	&__genderTablet{
		width: 95px;
		height: 35px;
		border-radius: 20px;
		border-top: 1px solid #b89679;
		border-left: 1px solid #b89679;
		border-bottom: 1px solid #ac6a0a;
		border-right: 1px solid #ac6a0a;
		cursor: pointer;
		box-shadow: -1px -1px 1px rgba(0,0,0,.34)

	}
	&__boy{
		flex-basis: 50%;
		height: 100%;
		box-sizing: border-box;
		border-left: 1px solid #ac6a0a;
		border-radius: 0 20px 20px 0;
		background-image: url('../img/genderBoy.png'), linear-gradient(0deg, #e6e6e6,#f5fafb);
		background-repeat: no-repeat;
		background-position: center;
		&_active{
			background-image: url('../img/genderBoyActive.png'), linear-gradient(0deg, #ff891f,#ffae02);
			box-shadow: inset 1px 1px 4px rgba(0,0,0,.36);
		}
	}
	&__girl{
		flex-basis: 50%;
		height: 100%;
		border-radius: 20px 0 0 20px;
		background-image: url('../img/genderGirl.png'), linear-gradient(0deg, #e6e6e6,#f5fafb);
		background-repeat: no-repeat;
		background-position: center;
		&_active{
			background-image: url('../img/genderGirlActive.png'), linear-gradient(0deg, #ff891f,#ffae02);
			box-shadow: inset 1px 1px 4px rgba(0,0,0,.36);
		}
	}
	&__input{
		width: calc(100% - 100px);
		box-sizing: border-box;
		border-radius: 20px;
		text-indent: 13px;
		border: 1px solid rgba(0,0,0,.21);
		box-shadow: -1px -1px 1px rgba(0,0,0,.34);
		height: 35px;
		color: #666;
		font-size: 18px;
		background: linear-gradient(180deg, #e6e6e6,#f5fafb);
		position: relative;
		display: block;
		line-height: 35px;
		z-index: 0;
		font-family: "SourceSansProLight";
		text-transform: capitalize;
		>li{
			box-sizing: border-box;
			width: 100%;
			height: 34px;
			background: linear-gradient(180deg, #e6e6e6,#f5fafb);
			border-bottom: 1px solid rgba(0,0,0,.21);
			z-index: 30;
			border-radius: 20px;
		}
		&_searchEl{
			&::before{
				content: '\f0dd';
				font-family: 'fontAwesome';
				position: absolute;
				right: 0;
				width: 35px;
				height: 100%;
				display: inline-block;
				text-align: center;
				line-height: 27px;
				cursor: pointer;
				border-radius: 0 20px 20px 0;
				background: linear-gradient(0deg, #e6e6e6,#f5fafb);
				box-shadow: 1px 1px 0 rgba(0,0,0,.34);
				border-left: 1px solid #c9caca;
				z-index: 20;
				text-indent: 0;
			}
			&:active{
				&::before{
					background: linear-gradient(180deg, #e6e6e6,#f5fafb);
					box-shadow: 0px -1px 0 rgba(0,0,0,.34);
					line-height: 28px;
				}
			}
		}
		&_submenu{
			position: absolute;
			box-sizing: border-box;
			width: 100%;
			left: 0;
			top: 15px;
			padding: 20px 0 0 0;
			z-index: -1;
			border: 1px solid rgba(0,0,0,.21);
			border-top: none;
			background: linear-gradient(0deg, #e6e6e6,#f5fafb);
			border-radius: 0px 0px 20px 20px;
			display: block;
			display: none;
			max-height: 300px;
			overflow: auto;
			overflow-x: hidden;
			>li{
				padding: 0 13px;
				transition: all .15s;
				cursor: pointer;
				position: relative;
				box-sizing: border-box;
				z-index: 10;
				&:hover{
					transition: all .15s;
					color: #f5fafb;
					background: #666;
				}
				&:last-child{
					border-radius: 0 0 20px 20px;
				}
			}
		}
	}
	&__ageWrap{
		 width: calc(100% - 100px);
		 box-sizing: border-box;
		 justify-content: space-between;
	}
	&__input{
		&_date{
			width: 83px;
			text-indent: 20px;
		}
		&_month{
			width: 120px;
		}
		&_year{
			width: 105px;
		}
	}
	&__forBox{
		margin: 0 0 0 100px;
		justify-content: flex-start;
		>div{
			flex-basis: 50%;
		}
		label{
			margin: 10px 0 0 0;
			display: block;
			position: relative;
			font-size: 18px;
			color: #666;
		}
		span{
			display: none;
			position: absolute;
			left: 6px;
			top: 10px;
			width: 10px;
			height: 10px;
			box-sizing: border-box;
			border-top: 1px solid #ffba2f;
			border-left: 1px solid #ffba2f;
			border-bottom: 1px solid #c66c17;
			border-right: 1px solid #c66c17;
			background: linear-gradient(0deg, #ff891f, #ffae02);
		}
		input:checked + span{
			display: block;
		}
	}
	&__checkbox{
		input{
			visibility: hidden;
		}
		&:before{
			content: '';
			display: block;
			position: absolute;
			left: 4px;
			top: 8px;
			width: 14px;
			height: 14px;
			box-sizing: border-box;
			border-top: 1px solid #d8d8d8;
			border-left: 1px solid #d8d8d8;
			border-bottom: 1px solid #a2a2a2;
			border-right: 1px solid #a2a2a2;
			background: linear-gradient(0deg, #e6e6e6,#f5fafb);
		}
		
	}
	&__radio{
		input{
			visibility: hidden;
		}
		&:before{
			@extend .form__checkbox:before;
			border-radius: 50%;
		}
		span{
			border-radius: 50%;	
		}
	}

	&__forBtn{
		margin: 25px 0 0 100px;
	}
	&__btn{
		font-family: "SourceSansProExtraLight", 'SourceSansProLight';
		font-size: 48px;
		font-weight: 100;
		color: #fff;
		background: linear-gradient(0deg, #94c516 4%,#72aa00 50%, #8eb92a 51%, #a8c732 92%, #b9ce44 100%);
		border: 1px solid #7fa607;
		border-radius: 30px;
		box-sizing: border-box;
		display: block;
		width: 100%;
		box-shadow: inset 0 0 2px rgba(255,255,255,1);
		text-shadow: 0px -1px 1px rgba(0,0,0,.29);
		cursor: pointer;
		&:active{
			box-shadow: 0 0 2px rgba(255,255,255,1);
			text-shadow: 0px 1px 1px rgba(0,0,0,.29);
		}
	}

}



/*2. MAIN*/
/*==================================================*/

.userInfo{
	padding: 50px 0 0 0;
	width: 100%;
	&__block{
		width: 50%;
	}
}
.block__header{
	font-size: 31px;
	font-family: "SourceSansProLight";
	color: $myGray;
	margin: 0 0 30px 0;
}
.codeThisBlock{
	padding: 0 10px 0 0;
	box-sizing: border-box;
	.flex{
		align-items: flex-start;
		flex-wrap: nowrap;
	}
	&__img{
		float: left;
		border-radius: 50%;
		margin: 0 25px 0 0;
		width: 173px;
		shape-outside: circle();;
	}
	&__textNote{
		text-align: justify;
		color: $myGray;
		font-family: "SourceSansProLight";

	}
	
}

.userList{
	padding: 0 20px 0 80px;
	box-sizing: border-box;
	position: relative;
	&_carousel{

	}
	&__item{
		position: relative;
		width: 70px;
		height: 70px;
		border: 1px solid rgba(0,0,0,.58);
		position: relative;
		z-index: 1;
		&:hover{
			.userList__overlay{
				display: block;
			}
		}
		&:before{
			content: '';
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;	
			box-shadow: inset 0 0 5px rgba(0,0,0,.75);
		}
	}
	&__img{
		z-index: -1;
		display: block;
		// display: none;
	}
	&__overlay{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: rgba(0,0,0,.7);
		padding: 20px 5px 5px 5px;
		box-sizing: border-box;
		text-align: center;
		display: none;
	}
	&__linkText{
		color: white;
		font-family: "MyriadProRegular";
		margin: 0 0 5px 0;
	}
	&__link{
		color: rgba(255,255,255,.5);
		transition: all .3s;
		width: 30%;
		text-align: center;
		&:hover{
			color: #fff;
			transition: all .3s;
		}
	}
	.owl-prev{
		position: absolute;
		left: -35px;
		top: 30px;
		color: $myGray;
	}
	.owl-next{
		position: absolute;
		right: -35px;
		top: 30px;
		color: $myGray;
	}

}






.tabs{
	margin: 30px 0 0 0;
	width: 100%;
	&__control{
		display: flex;
		position: relative;
		justify-content: flex-start;
		&:before{
			content:'';
			position: absolute;
			display: block;
			width: 20px;
			height: 5px;
			z-index: -1;
			background: #f8f8f8;
			border-left: 1px solid #969696;
			bottom: -5px;
		}
	}
	&__link{
		color: #969696;
		padding: 5px 10px;
		border: 1px solid #969696;
		border-bottom: none;
		border-radius: 5px 5px 0 0;
		background: #f8f8f8;
		position: relative;
		font-family: "SourceSansProLight";
		text-transform: capitalize;
		&:last-child{
			border-radius: 5px 10px 0 0;
			// &:after{
			// 	content:'';
			// 	display: block;
			// 	position: absolute;
			// 	width: 30px;
			// 	height: 25px;
			// 	top: 0;
			// 	right: -30px;
			// 	border-radius: 0 0 0 50px;
			// 	border-left: 1px solid $myGray;
			// 	border-bottom: 1px solid $myGray;
			// }
		}
		&_active{
			background: #fff;
			color: #ffa352;
			position: relative;
			&:after{
				content:'';
				width: 100%;
				height: 5px;
				background: #fff;
				left: 0;
				z-index: 1;
				bottom: -3px;
				position: absolute;

			}
		}
	}
	&__linkAmount{
		position: relative;
		padding:  3px 5px;
		margin: 0 5px;
		color: #969696;
		&:before{
			content: '';
			width: 1px;
			top: 8px;
			left: 0;
			background: #969696;
			color: #969696;
			height: 50%;
			line-height: 30px;
			position: absolute;
		}

	}
	&__content{
		padding: 20px;
		box-sizing: border-box;
		border: 1px solid #969696;
		border-radius: 5px;
		position: relative;
		background: #fff;
		&:before{
			content:'';
			display: block;
			width: 100%;
			height: 1px;
			bottom: 0;
			left: 0;
			z-index: -1;
			position: absolute;
			box-shadow: 0 2px 3px rgba(0,0,0,1);
		}
	}
	&__list{
		display: none;
		&_active{
			display: block;
		}
	}
	&__processWrap{
		display: felx;
		justify-content: space-between;
	}

	&__processBlock{
		width: 215px;
		// background: red;
	}
	&__progressBar{
		width: 100%;
		height: 10px;	
	}
	&__steps{
		display: flex;
		justify-content: space-between;
		flex-wrap: nowrap;
		overflow: hidden;
		border: 1px solid rgba(0,0,0,.21);
		border-radius: 5px;
	}
	&__step{
		text-transform: capitalize;
		color: $myGray;
		font-size: 9px;
		text-shadow: 0 1px 1px white;
		font-family: "Verdana", Arial;
		display: block;
		line-height: 28px;
		background: linear-gradient(0deg, #e6e6e6, #f5fafb);
		text-align: center;
		flex-basis: 20%;
		z-index: 20;
		position: relative;
		text-indent: 5px;
		&:before{
			content:'';
			display: block;
			position: absolute;
			width: 20px;
			height: 5px;
			right: -10px;
			top: 3px;
			transform: rotate(70deg);
			border-top: 1px solid rgba(0,0,0,.21)
		}
		&:after{
			content:'';
			display: block;
			position: absolute;
			width: 20px;
			height: 5px;
			right: -10px;
			bottom: 3px;
			transform: rotate(-70deg);
			border-bottom: 1px solid rgba(0,0,0,.21)
		}
		&:last-child{
			&:before, &:after{
				content:'';
				display: none;
			}
		}
		&:hover{
			color: #ffa352;
		}
		&_done{
			background: #c2c2c2;
			&:before, &:after{
				background: #c2c2c2;
			}
		}
		&_active{
			background: linear-gradient(0deg, #ff891f, #ffae02);
			&:hover{
				color: white;
				text-shadow: 0 1px solid $myGray;
			}
			&:before{
				background: linear-gradient(-70deg, #ff9d0f, #ffae02);
			}
			&:after{
				background: linear-gradient(70deg, #ff891f, #ff9d0f);
			}
		}
	}















	&__starsBlock{
		width: 80px;
		background: green;
	}

}





/*3. FOOTER*/
/*==================================================*/
/*height="33" width="112"*/






/*bottom*/
@import "import/media";