/* font-family: "UbuntuRegular"; */
/* font-family: "SourceSansProRegular"; */
@font-face {
    font-family: "SourceSansProRegular";
    src: url("../fonts/sourceSansPro/SourceSansProRegular/SourceSansProRegular.eot");
    src: url("../fonts/sourceSansPro/SourceSansProRegular/SourceSansProRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/sourceSansPro/SourceSansProRegular/SourceSansProRegular.woff") format("woff"),
    url("../fonts/sourceSansPro/SourceSansProRegular/SourceSansProRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SourceSansProLight"; */
@font-face {
    font-family: "SourceSansProLight";
    src: url("../fonts/sourceSansPro/SourceSansProLight/SourceSansProLight.eot");
    src: url("../fonts/sourceSansPro/SourceSansProLight/SourceSansProLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/sourceSansPro/SourceSansProLight/SourceSansProLight.woff") format("woff"),
    url("../fonts/sourceSansPro/SourceSansProLight/SourceSansProLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SourceSansProBold"; */
@font-face {
    font-family: "SourceSansProBold";
    src: url("../fonts/sourceSansPro/SourceSansProBold/SourceSansProBold.eot");
    src: url("../fonts/sourceSansPro/SourceSansProBold/SourceSansProBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/sourceSansPro/SourceSansProBold/SourceSansProBold.woff") format("woff"),
    url("../fonts/sourceSansPro/SourceSansProBold/SourceSansProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "SourceSansProExtraLight"; */
@font-face {
    font-family: "SourceSansProExtraLight";
    src: url("../fonts/sourceSansPro/SourceSansProExtraLight/SourceSansPro-ExtraLight.otf");
    font-weight: 100;
}

/* font-family: "verdana"; */
@font-face {
    font-family: "Verdana";
    src: url("../fonts/verdana/Verdana.ttf");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "trebuchetMS"; */
@font-face {
    font-family: "Trebuchet";
    src: url("../fonts/trebuchetMS/TrebuchetMS.ttf");
    font-style: normal;
    font-weight: normal;
}

