@import "./var";
/*==========  Desktop First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1280px) {


/*1. HEADER*/
/*==================================================*/


.form .hint{
	right: 30px;
	&:before{
    	left: 100%; 
    	bottom: calc(50% - 6px); 
    	border: 5px solid transparent; 
    	border-left: 7px solid rgba(0,0,0,.5);
	}
}




/*2. MAIN*/
/*==================================================*/

.userInfo{
	padding: 30px 0 20px 0;
	&__block{
		width: 100%;
		padding: 0 50px 30px 50px;
		
	}
}
.tabs{
	&__processBlock{
		width: calc(100% - 200px);
	}
}


/*3. FOOTER*/
/*==================================================*/


}



















/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {


/*1. HEADER*/
/*==================================================*/





.herro{
	padding: 20px 0 15px 0;
	&__wrap{
		height: 100%;
		border-radius: 7px;
	}
	&__slider{
		flex-basis: 100%;
		box-sizing: border-box;
		overflow: hidden;
	}
	&__form{
		flex-basis: 100%;
		box-sizing: border-box;
		background: #f8f8f8;
		padding: 10px 20%;
		text-align: left;
		flex-direction: column;
	}
}






/*2. MAIN*/
/*==================================================*/

.tabs{
	&__processBlock{
		width: calc(100% - 150px);
	}
}





/*3. FOOTER*/
/*==================================================*/


}
















/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {


/*1. HEADER*/
/*==================================================*/


.herro{
	padding: 20px 0 15px 0;
	&__wrap{
		height: 100%;
		border-radius: 7px;
	}
	&__slider{
		flex-basis: 100%;
		box-sizing: border-box;
		overflow: hidden;
	}
	&__form{
		flex-basis: 100%;
		box-sizing: border-box;
		flex-wrap: wrap;
		background: #f8f8f8;
		padding: 10px 10%;
		text-align: left;
		flex-direction: column;
	}
}




/*2. MAIN*/
/*==================================================*/
.userList{
	&__carousel{
	}
}

.tabs{
	&__processBlock{
		width: calc(100% - 100px);
	}
}


.howTo{
	&__columns{
		columns: 2 auto;
		column-gap: 20px;
	}
}

/*3. FOOTER*/
/*==================================================*/

}















/*Extra small devices (portrait phones, less than 576px)*/
@media only screen and (max-width : 576px) {


/*1. HEADER*/
/*==================================================*/

.herro{
	padding: 20px 0 15px 0;
	&__wrap{
		height: 100%;
		border-radius: 7px;
	}
	&__slider{
		flex-basis: 100%;
		box-sizing: border-box;
		overflow: hidden;
	}
	&__form{
		flex-basis: 100%;
		box-sizing: border-box;
		background: #f8f8f8;
		padding: 10px;
		height: 100%;
		box-sizing: border-box;
		text-align: left;
		flex-direction: row;
		max-height: 100%;
	}
}




.form{
	&__header{
		font-size: 30px;
		margin: 5px 0;
		text-align: center;
		flex-basis: 100%;
	}
	&__label:not(.form__label_search){
		width: 100%;
		text-align: center;
		margin: 5px 0;
	}
	&__divWrap{
		width: 100%;
		text-align: center;
		padding: 0 0 5px 0;
	}
	&__forIAmWrap{
		width: 100%;
		display: flex;
		flex-wrap: nowrap !important;
	}
	.flex{
		justify-content: space-between;

	}
	&__input{
		margin: 0 3px;
		width: 100%;
		font-size: 14px;
		&:first-child{
			margin: 0 3px 0 0;
		}
		&:last-child{
			margin: 0 0px 0 3px;
		}
		&_date{
			width: 70px;
			text-indent: 10px;
		}
		&_month{
			width: 120px;
			text-indent: 10px;
		}
		&_year{
			width: 90px;
			text-indent: 10px;
		}
	}
	&__ageWrap{
		width: 100%;
	}
	&__forBox{
		margin: 0;
	}
	&__forBtn{
		margin: 25px 0 0 0px;
	}
	&__btn{
		font-size: 40px;
		border-radius: 30px;
	}
}



















/*2. MAIN*/
/*==================================================*/
.codeThisBlock__img{
	width: 150px;
}
.userList{
	padding: 0 10px;
}
.userList__carouselWrap{
	padding: 0 50px;
}

.tabs{
	padding: 0 -40px;
	&__processWrap{
		flex-wrap: wrap;
	}
	&__processBlock{
		width: 100%;
	}
	&__starsBlock{
		margin: 20px auto 0 auto;
		text-align: center;
	}
}



.howTo{
	&__columns{
		columns: 1 auto;
		column-gap: 5px;
	}
}






/*3. FOOTER*/
/*==================================================*/



}
















/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {


/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/



}













/*===========================================*/


/*==========  Mobile First Method  ==========*/


/*===========================================*/




/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {


/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/




}

/*Small devices (landscape phones, 576px and up)*/
@media only screen and (min-width : 576px) {


/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/




}















/*Medium devices (tablets, 768px and up)*/
@media only screen and (min-width : 768px) {



/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/




}









/*Large devices (desktops, 992px and up)*/
@media only screen and (min-width : 992px) {


/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/



}













/*Extra large devices (large desktops, 1200px and up)*/
@media only screen and (min-width : 1200px) {



/*1. HEADER*/
/*==================================================*/






/*2. MAIN*/
/*==================================================*/






/*3. FOOTER*/
/*==================================================*/



}